Repository redhat-plumbers-in-action/advanced-issue-labeler: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (14.x)
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (17.x)
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

test: mark missing test cases
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
  test/unit/validation-feedback.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: Add tests for `inputs.ts`
  test/unit/__snapshots__/inputs.test.ts.snap
  test/unit/fixtures/inputs.fixture.ts
  test/unit/inputs.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: Extend tests for `labeler.ts`
  test/unit/__snapshots__/labeler.test.ts.snap
  test/unit/fixtures/inputs.fixture.ts
  test/unit/fixtures/labeler.fixture.ts
  test/unit/labeler.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: 🐬 isn't fish ...
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: Add some fishes
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: pin GitHub Actions SHA1
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/lint.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/unit-tests.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Update renovate config - add schedule
  renovate.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

test: extend tests for `issue-form.ts` and `labeler.ts`
  test/unit/__snapshots__/issue-form.test.ts.snap
  test/unit/__snapshots__/labeler.test.ts.snap
  test/unit/fixtures/issue-form.fixture.ts
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: minor changes
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

deps: update `yarn.lock`
  yarn.lock
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

build: Update to `yarn@3.3.1`
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: update `yarn.lock` to use new yarn version
  .gitattributes
  .gitignore
  yarn.lock
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

fix: Adjust code to comply with new prettier
  src/app.ts
  src/config.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

lint: Disable broken eslint plugin - `github/recommended`
  .eslintrc.json
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: don't update latest tag, to avoid breakage
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

src: mark `issue-form` input as required
  src/app.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

doc: Update examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label
