Repository redhat-plumbers-in-action/advanced-issue-labeler: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (14.x)
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (17.x)
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

add input hardening check using @total-typescript/ts-reset
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

feat: add option to set custom config file path
  README.md
  action.yml
  dist/config.js
  dist/config.js.map
  dist/index.js
  dist/index.js.map
  src/config.ts
Due: Add source label, Add configuration label, Add documentation label, Remove test label

drop `codecov.yml` file
  .codecov.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update Note/Warning GitHub Markdown
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

test: update unit tests of config/policy
  dist/config.d.ts
  dist/index.js
  dist/index.js.map
  dist/labeler.js
  dist/labeler.js.map
  dist/schema/config.d.ts
  dist/schema/config.js
  dist/schema/config.js.map
  src/labeler.ts
  src/schema/config.ts
  test/unit/__snapshots__/config.test.ts.snap
  test/unit/config.test.ts
  test/unit/fixtures/config.fixture.ts
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

build: update `dist/` files and `yarn.lock`
  dist/events.d.ts
  dist/events.js
  dist/events.js.map
  dist/file.js
  dist/index.js
  dist/index.js.map
  dist/inputs.d.ts
  dist/inputs.js
  dist/inputs.js.map
  dist/validation-feedback.d.ts
  dist/validation-feedback.js
  dist/validation-feedback.js.map
  dist/worker-pipeline.js
  dist/worker.js
  dist/worker1.js
  yarn.lock
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

feat: add support for GitHub Enterprise
  dist/index.js
  dist/index.js.map
  dist/octokit.js
  dist/octokit.js.map
  src/octokit.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

test: remove integration tests
  test/integration/config.test.ts
  test/integration/fixtures/01-readme-example-0/new-issue.json
  test/integration/fixtures/02-readme-example-1/new-issue.json
  test/integration/fixtures/10-no-config/new-issue.json
  test/integration/fixtures/20-minimalist-config/new-issue.json
  test/integration/fixtures/21-complex-config/new-issue.json
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

test: add action smoke test
  test/action.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

use node16 for v2
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/release-drafter.yml
  .github/workflows/unit-tests.yml
  action.yml
  dist/37.index.js
  dist/37.index.js.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/octokit.js
  dist/octokit.js.map
  package.json
  src/octokit.ts
  yarn.lock
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

ci: enable dependency updates for node16 branch
  renovate.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: update `dist/` files
  dist/index.js
  dist/index.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

build: update `dist/` files
  dist/action.js.map
  dist/config.js.map
  dist/index.js.map
  dist/labeler.js.map
  dist/main.js.map
  src/config.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

build: update dependencies & migrate to ESM & remove eslint (not very useful)
  .eslintignore
  .eslintrc.json
  .github/workflows/lint.yml
  dist/action.js
  dist/action.js.map
  dist/config.js
  dist/config.js.map
  dist/index.js
  dist/index.js.map
  dist/issue-form.js
  dist/issue-form.js.map
  dist/labeler.js
  dist/labeler.js.map
  dist/main.js
  dist/main.js.map
  dist/octokit.d.ts
  dist/octokit.js
  dist/octokit.js.map
  dist/package.json
  dist/schema/config.js
  dist/schema/config.js.map
  dist/schema/input.js
  dist/schema/input.js.map
  dist/sourcemap-register.cjs
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

dist: update `yarn.lock` file
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  yarn.lock
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

ci: test only Node.js 20 & pass token to codecov
  .github/workflows/check-dist.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update GitHub markdown notices to supported version
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

feat: add `labels` output
  README.md
  action.yml
  dist/action.js
  dist/action.js.map
  dist/index.js
  dist/index.js.map
  src/action.ts
Due: Add source label, Add configuration label, Add documentation label, Remove test label

feat: add `policy` output
  README.md
  action.yml
  dist/action.js
  dist/action.js.map
  dist/index.js
  dist/index.js.map
  dist/labeler.d.ts
  dist/labeler.js
  dist/labeler.js.map
  dist/schema/output.d.ts
  dist/schema/output.js
  dist/schema/output.js.map
  src/action.ts
  src/labeler.ts
  src/schema/output.ts
Due: Add source label, Add configuration label, Add documentation label, Remove test label

refactor(test): add config.ts tests
  test/action.test.ts
  test/integration/config.test.ts
  test/integration/fixtures/01-readme-example-0/new-issue.json
  test/integration/fixtures/02-readme-example-1/new-issue.json
  test/integration/fixtures/10-no-config/new-issue.json
  test/integration/fixtures/20-minimalist-config/new-issue.json
  test/integration/fixtures/21-complex-config/new-issue.json
  test/unit/__snapshots__/issue-form.test.ts.snap
  test/unit/__snapshots__/labeler.test.ts.snap
  test/unit/config.test.ts
  test/unit/fixtures/config.fixture.ts
  test/unit/fixtures/issue-form.fixture.ts
  test/unit/fixtures/labeler.fixture.ts
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
  test/unit/validation-feedback.test.ts
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

refactor(test): add issue-form.ts tests
  dist/index.js
  dist/index.js.map
  dist/issue-form.d.ts
  dist/issue-form.js
  dist/issue-form.js.map
  src/issue-form.ts
  test/unit/issue-form.test.ts
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

refactor(test): add labeler.ts tests
  test/unit/config.fixture.ts
  test/unit/config.test.ts
  test/unit/issue-form.fixture.ts
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label
