Repository redhat-plumbers-in-action/advanced-issue-labeler: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

doc: Update examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: Add permissions to workflow examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci(fix): remove deprecated option from mergify config
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

build: update `dist/`
  dist/config.js.map
  dist/inputs.js.map
  dist/labeler.js.map
  test/unit/__snapshots__/config.test.ts.snap
  test/unit/__snapshots__/inputs.test.ts.snap
  test/unit/__snapshots__/issue-form.test.ts.snap
  test/unit/__snapshots__/labeler.test.ts.snap
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

Revert "chore(deps): update actions-r-us/actions-tagger digest to 68b8860"
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: pin `Actions-R-Us/actions-tagger` to `v2`
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: add dependency `@vitest/coverage-v8`
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update javascripts packages monthly
  renovate.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: drop `super-linter`
  .github/linters/.gitleaks.toml
  .github/linters/.jscpd.json
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/lint.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: enable `@total-typescript/ts-reset`
  src/main.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

ci: pin GHA to major versions
  .github/workflows/check-dist.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/lint.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/unit-tests.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: drop mergify
  .mergify.yml
  README.md
  renovate.json
Due: Remove source label, Add configuration label, Add documentation label, Remove test label

ci: drop support for Node.js 16 and add Node.js 20
  .github/workflows/check-dist.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  action.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.config.ts$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.config.ts$))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
