Repository redhat-plumbers-in-action/advanced-issue-labeler: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

.mergify.yml:

---
# doc: https://docs.mergify.com

pull_request_rules:

  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=check-dist
      - check-success=CodeQL
      - check-success=Linters
      - check-success=Super Linter
      - check-success=Unit Tests - Node.js (14.x)
      - check-success=Unit Tests - Node.js (16.x)
      - check-success=Unit Tests - Node.js (17.x)
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  - name: Delete head branch after merge
    conditions:
      - head!=main
      - merged
    actions:
      delete_head_branch:

  # --- --- Labels --- --- #

  - name: Add source label
    conditions:
      - files~=^src/
    actions:
      label:
        add:
          - source

  - name: Remove source label
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  # --- #

  - name: Add configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
          - files~=\.config.ts$
    actions:
      label:
        add:
          - configuration

  - name: Remove configuration label
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
          - -files~=\.config.ts$
    actions:
      label:
        remove:
          - configuration

  # --- #

  - name: Add documentation label
    conditions:
      - or:
          - files~=\.md$
          - files~=\.png$
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
          - -files~=\.md$
          - -files~=\.png$
    actions:
      label:
        remove:
          - documentation

  # --- #

  - name: Add test label
    conditions:
      - files~=^test/
    actions:
      label:
        add:
          - test

  - name: Remove test label
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - test

refactor(test): add config.ts tests
  test/action.test.ts
  test/integration/config.test.ts
  test/integration/fixtures/01-readme-example-0/new-issue.json
  test/integration/fixtures/02-readme-example-1/new-issue.json
  test/integration/fixtures/10-no-config/new-issue.json
  test/integration/fixtures/20-minimalist-config/new-issue.json
  test/integration/fixtures/21-complex-config/new-issue.json
  test/unit/__snapshots__/issue-form.test.ts.snap
  test/unit/__snapshots__/labeler.test.ts.snap
  test/unit/config.test.ts
  test/unit/fixtures/config.fixture.ts
  test/unit/fixtures/issue-form.fixture.ts
  test/unit/fixtures/labeler.fixture.ts
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
  test/unit/validation-feedback.test.ts
Due: Remove source label, Add configuration label, Remove documentation label, Add test label

refactor(test): add issue-form.ts tests
  dist/index.js
  dist/index.js.map
  dist/issue-form.d.ts
  dist/issue-form.js
  dist/issue-form.js.map
  src/issue-form.ts
  test/unit/issue-form.test.ts
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

test: add integration tests
  dist/schema/output.d.ts
  dist/schema/output.js
  dist/schema/output.js.map
  src/schema/output.ts
  test/action.test.ts
  test/unit/config.test.ts
  test/unit/issue-form.fixture.ts
  test/unit/issue-form.test.ts
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

doc: update list of top projects
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

feat: enable GitHub API request throttling
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/octokit.js
  dist/octokit.js.map
  package.json
  src/octokit.ts
  yarn.lock
Due: Add source label, Add configuration label, Remove documentation label, Remove test label

feat: add support for checkboxes in issue form
  dist/index.js
  dist/index.js.map
  dist/issue-form.js
  dist/issue-form.js.map
  src/issue-form.ts
  test/action.test.ts
  test/unit/config.fixture.ts
  test/unit/config.test.ts
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
Due: Add source label, Remove configuration label, Remove documentation label, Add test label

doc: remove trailing whitespace
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

test: update block-list testing
  test/action.test.ts
  test/unit/config.fixture.ts
  test/unit/config.test.ts
  test/unit/issue-form.fixture.ts
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

doc: document new checkboxes feature
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

doc: fix TYPO
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

build: update deps
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.cjs
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update yarn and dependencies
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: update real-life examples
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

deps: update yarn and dependencies
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update dependencies
  .yarn/releases/yarn-4.8.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update dependencies
  dist/index.js
  dist/index.js.map
  dist/schema/config.d.ts
  dist/schema/input.d.ts
  dist/schema/input.js
  dist/schema/input.js.map
  package.json
  src/schema/input.ts
  test/action.test.ts
  yarn.lock
Due: Add source label, Add configuration label, Remove documentation label, Add test label

fix: don't fail when issue parser returns array of arrays
  dist/index.js
  dist/index.js.map
  dist/schema/input.d.ts
  dist/schema/input.js
  dist/schema/input.js.map
  src/schema/input.ts
Due: Add source label, Remove configuration label, Remove documentation label, Remove test label

deps: update yarn and dependencies
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.3.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

deps: update dependencies
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label
