Repository redhat-plumbers-in-action/advanced-issue-labeler: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label, Add test label, Remove test label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test label:
  label:
    add:
    - test

Remove test label:
  label:
    remove:
    - test

ci(Mergify): configuration update
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Fix spacing in `release-drafter` template
  .github/release-drafter.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Drop support for Node.js 14.x
  .github/workflows/check-dist.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/unit-tests.yml
  .mergify.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

yarn: remove unused dependencies
  package.json
  yarn.lock
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Documentation clean-ups
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci(lint): `.jscpd.json` - ignore `.mergify.yml`
  .github/linters/.jscpd.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

ci: Update labeling policy to latest version
  .github/advanced-issue-labeler.yml
  .github/workflows/issue-labeler.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Update `yarn.lock` file
  yarn.lock
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

dist: Update dist directory
  dist/app.js
  dist/app.js.map
  dist/config.js
  dist/config.js.map
  dist/events.js
  dist/events.js.map
  dist/inputs.js
  dist/inputs.js.map
  dist/issue-form.js
  dist/issue-form.js.map
  dist/labeler.js
  dist/labeler.js.map
  dist/main.js
  dist/main.js.map
  dist/validation-feedback.js
  dist/validation-feedback.js.map
Due: Remove source label, Remove configuration label, Remove documentation label, Remove test label

doc: Fix typo - `praser` -> `parser`
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

ci: `check-dist` - use Node 18.x
  .github/workflows/check-dist.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

Add `merge-strategy: rebase` label to every PR
  renovate.json
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

doc: Don't advice usage of `@latest` tag
  README.md
Due: Remove source label, Remove configuration label, Add documentation label, Remove test label

build: don't update latest tag, to avoid breakage
  .github/workflows/publish-release.yml
Due: Remove source label, Add configuration label, Remove documentation label, Remove test label

test: Add tests for `inputs.ts`
  test/unit/__snapshots__/inputs.test.ts.snap
  test/unit/fixtures/inputs.fixture.ts
  test/unit/inputs.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: mark missing test cases
  test/unit/issue-form.test.ts
  test/unit/labeler.test.ts
  test/unit/validation-feedback.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

test: Extend tests for `labeler.ts`
  test/unit/__snapshots__/labeler.test.ts.snap
  test/unit/fixtures/inputs.fixture.ts
  test/unit/fixtures/labeler.fixture.ts
  test/unit/labeler.test.ts
Due: Remove source label, Remove configuration label, Remove documentation label, Add test label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.config.ts$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.config.ts$))
  Add documentation label: (any of: \.md$) or (any of: \.png$)
  Remove documentation label: (not (any of: \.md$)) and (not (any of: \.png$))
  Add test label: any of: ^test/
  Remove test label: not (any of: ^test/)
